/* Her har jeg hentet noen av kodene som vi har lagd i forelesningene som handlet om
   CSS Grid og CSS Flexbox og jeg har gjort om på dem */

/* For å lagge hamburger meny, har jeg brukt codene vi lagd i timen */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #dad7cd;
}

#grid-layout {
    display: grid;
    grid-template-areas: "header" 
                         "main" 
                         "footer";
    grid-template-columns: 1fr;
}

header {
    grid-area: header;
}

.img {
    background-image: url(../img/header_img_bildebank.jpg);
    padding: 20px;
    background-size: cover;
    background-position: center;
}

.img h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    color: black;
}

nav {
    display: flex;
    overflow: auto;
    background-color: #a3b18a;
    padding: 1rem 3rem;
    align-items: baseline;
    justify-content: space-between;
}   

header nav a {
    font-size: 100px;
    color: black;
    text-decoration: none;
}

#logo img {
    height: 80px;
    max-height: 80px;
    width: auto;
}

header nav ul li a:hover {
    text-decoration: underline;
}

#nav-menu {
    position: absolute;
    text-align: center;
    top: 250px;
    left: 0;
    background-color: #a3b18a;
    width: 100%;
    padding: 0rem;
    z-index: 2;
}

#nav-menu li {
    list-style: none;
}

#nav-menu a {
    color: black;
    padding: 1rem 0rem;
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 700;
}

main {
    grid-area: main;
    flex-wrap: wrap;
    padding: 30px;
}

main article img {
    width: 100%;
    height: 500px;
    object-fit: cover;  
}

main article {
    flex-grow: 1;
    padding: 0 4rem;
    font-size: 18px;
    font-weight: 500;
}

main article h2 {
    text-align: center;
    font-size: 30px;
}

main article a {
    text-decoration: none;
    padding: 0.5rem;
    text-align: left;
}

main article a:hover {
    text-decoration: underline;
}

.table {
    display: flex;
    flex-flow: column;
    border-top: 2px solid #a3b18a;
    border-left: 2px solid #a3b18a;
    background-color: white;
    max-width: 90%;
    margin: 0 auto;
}

.table-row {
    display: flex;
    border-bottom: 2px solid #a3b18a;
    max-width: 100%;
}

.table-row h3 {
    text-align: center;
}
.table-row:nth-of-type(even) {  
    background-color: #fff;
}

.table-row:nth-of-type(odd) {
    background-color: #efefef;
}

.table-header {
    background-color: #a3b18a;
    color: black;
}

.table-column {
    flex-wrap: wrap;
    text-align: left;
    flex-grow: 1;
    flex-basis: 0;
    padding: 0 1rem;
    border-right: 2px solid #a3b18a;
    word-break: break-word;
}

.mobile-table {
    display: none;
}

@media only screen and (max-width: 950px) {
    .table-header.table-column {
        display: none;
    }

    .table {
        display: flex;
        flex-flow: column;
        border-top: 0px;
        border-left: 0px;
        background-color: white;
        max-width: 90%;
        margin: 0 auto;
    }
    
    .table-row {
        display: flex;
        border-bottom: 10px solid #dad7cd;
        max-width: 100%;
    }

    .mobile-table {
        display: block;
        background-color: #a3b18a;
        font-size: 15px;
    }

    .table-row:nth-of-type(even) {
        background-color: #fff;
        flex-flow: column wrap;
    }

    .table-row:nth-of-type(odd) {
        background-color: #efefef;
        flex-flow: column wrap;
    }
    
    .table-column {
        text-align: center;
        border-top: 2px solid #a3b18a;
        border-bottom: 2px solid #a3b18a;
        border-left: 2px solid #a3b18a;
        border-right: 2px solid #a3b18a;
    } 

}

.contact-information  {
  text-align: left;
  margin: 0 auto;
  max-width: 700px;
  font-size: 20px;
}

h2 {
  text-align: center
}

form {
  width: 100%;
  background-color: white;
  max-width: 700px;
  padding: 13px 10px;
  border-radius: 4px;
  margin: auto;
}

form h3 {
  text-align: center;
  border-radius: 4px;
  padding: 10px;
}

label {
  display: none;
}

input[type="text"],[type="submit"]
,textarea {
  width: 100%;
  border: 2px solid #dad7cd;;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 20px;
  box-sizing: border-box;
  transition: 0.3s; 
  font-size: 17px;
}

input[type="text"]:focus
,textarea:focus {
  border-color: #a3b18a;
  box-shadow: 0 0 8px 0 #a3b18a;
}

input[type="submit"] {
  background: #a3b18a;
  font-size: 20px;
  font-weight: 800;
}

input[type="submit"]:hover {
  background: #588157;
}

.form-icon input[type="text"]
,textarea {
  padding-left: 50px;
}

.form-icon {
  position: relative;
}

.form-icon i {
  position: absolute;
  left: 0;
  top: 8px;
  padding: 21px 20px;
  color: #dad7cd;;
  transition: 0.3s;
  font-size: 20px;
}

.form-icon input[type="text"]:focus + i
,textarea:focus + i {
  color: #a3b18a;
}

.map iframe {
  width: 100%;
  border-radius: 4px;
}

footer {
    grid-area: footer;
    background-color: #588157;
    font-size: 20px;
    font-weight: 800;
    word-spacing: 30px;
    text-align: center;
    color: black;
    padding: 3rem 2rem;
}

@media only screen and (min-width: 950px) {
    #grid-layout {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: "header header header" 
                             "main main main" 
                             "footer footer footer";
        grid-gap: 1rem;
        grid-row-gap: 1rem;
    }

    header nav {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }

    #nav-menu {
        display: block !important;
        position: static;
        background-color: transparent;
        width: fit-content;
    } 

    #nav-menu a {
        color: #000;
    }

    #nav-menu li {
        display: inline-block;
        margin: 0rem 1rem;
    }

    #hamburger-icon {
        display: none;
    }

}